# Imports

In [74]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import dask.dataframe as dd
from pyspark.sql import SparkSession
import multiprocessing as mp
import csv
import datatable as dt
import yaml
from box import Box
import gzip
import os
from subprocess import check_call

# Check which solution is the best for reading data with 2GB+ size

In [2]:
df_pandas = pd.read_csv("Parking_2015.csv")
df_pandas.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Hydrant Violation,Double Parking Violation,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,8002531292,EPC5238,NY,PAS,10/01/2014,21,SUBN,CHEVR,T,20390,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8015318440,5298MD,NY,COM,03/06/2015,14,VAN,FRUEH,T,27790,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7611181981,FYW2775,NY,PAS,07/28/2014,46,SUBN,SUBAR,T,8130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7445908067,GWE1987,NY,PAS,04/13/2015,19,4DSD,LEXUS,T,59990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7037692864,T671196C,NY,PAS,05/19/2015,19,4DSD,CHRYS,T,36090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
chunks = pd.read_csv("Parking_2015.csv", chunksize=100000)
df_pandas_chunks = pd.concat(chunks)
df_pandas_chunks.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Hydrant Violation,Double Parking Violation,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,8002531292,EPC5238,NY,PAS,10/01/2014,21,SUBN,CHEVR,T,20390,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8015318440,5298MD,NY,COM,03/06/2015,14,VAN,FRUEH,T,27790,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7611181981,FYW2775,NY,PAS,07/28/2014,46,SUBN,SUBAR,T,8130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7445908067,GWE1987,NY,PAS,04/13/2015,19,4DSD,LEXUS,T,59990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7037692864,T671196C,NY,PAS,05/19/2015,19,4DSD,CHRYS,T,36090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_dask = dd.read_csv("Parking_2015.csv")
df_dask.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Hydrant Violation,Double Parking Violation,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,8002531292,EPC5238,NY,PAS,10/01/2014,21,SUBN,CHEVR,T,20390,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8015318440,5298MD,NY,COM,03/06/2015,14,VAN,FRUEH,T,27790,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7611181981,FYW2775,NY,PAS,07/28/2014,46,SUBN,SUBAR,T,8130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7445908067,GWE1987,NY,PAS,04/13/2015,19,4DSD,LEXUS,T,59990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7037692864,T671196C,NY,PAS,05/19/2015,19,4DSD,CHRYS,T,36090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
spark = SparkSession \
    .builder \
    .appName("Exploratory Analysis") \
    .getOrCreate()

parking = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("Parking_2015.csv")
parking.show(5)

+--------------+--------+------------------+----------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+-----------+-------------------+--------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+---------------------+------------+------------+--------------+-------------------+---------------------+---------------------------------+-----------------+------------------------+--------+---------+---------------+------------------+------------+----+----+----+
|Summons Number|Plate ID|Registration State|Plate Type|Issue Date|Violation Code|Vehicle Body Type|Vehicle Make|Issuing Agency|Street Code1|Street Code2|Street Code3|Vehicle Expiration Date|Violation Location|Violation Precinct|Issuer Precinct|Issuer Code|Issuer Command|Issuer Squad|Violation Time|Time First Observed|Violation County|Violation In Front Of Or Opposite|House Number|Street Name|Intersecting Street| Date First Observed|Law Section|Sub Division|Violation Legal Code|Days Parking In Effect    |From Hours In Effect|To Hours In Effect|Vehicle Color|Unregistered Vehicle?|Vehicle Year|Meter Number|Feet From Curb|Violation Post Code|Violation Description|No Standing or Stopping Violation|Hydrant Violation|Double Parking Violation|Latitude|Longitude|Community Board|Community Council |Census Tract| BIN| BBL| NTA|
+--------------+--------+------------------+----------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+-----------+-------------------+--------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+---------------------+------------+------------+--------------+-------------------+---------------------+---------------------------------+-----------------+------------------------+--------+---------+---------------+------------------+------------+----+----+----+
|    8002531292| EPC5238|                NY|       PAS|10/01/2014|            21|             SUBN|       CHEVR|             T|       20390|       29890|       31490|   01/01/20150111 12...|                 7|                 7|              7|     345454|          T800|          A2|         0011A|               null|              NY|                                F|         133|   Essex St|               null|01/05/0001 12:00:...|        408|          d1|                null|                     Y Y Y|               1200A|             0300A|           BL|                 null|        2005|        null|             0|               A 77| 21-No Parking (st...|                             null|             null|                    null|    null|     null|           null|              null|        null|null|null|null|
|    8015318440|  5298MD|                NY|       COM|03/06/2015|            14|              VAN|       FRUEH|             T|       27790|       19550|       19570|   01/01/88888888 12...|                25|                25|             25|     333386|          T103|           B|         0942A|               null|              NY|                                F|        1916|   Park Ave|               null|01/05/0001 12:00:...|        408|           c|                null|                     YYYYY|               0700A|             1000A|        BROWN|                 null|           0|        null|             0|                CC3|       14-No Standing|                             null|             null|                    null|    null|     null|           null|              null|        null|null|null|null|
|    7611181981| FYW2775|                NY|       PAS|07/28/2014|            46|             SUBN|       SUBAR|             T|        8130|        5430|        5580|   01/01/20160524 12...|                72|                72|             72|     331845|          T302|           L|         1020A|               null|               K|                                F|         184|    31st St|               null|01/05/0001 12:00:...|        408|          f1|                null|                      null|                null|              null|        BLACK|                 null|        2010|        null|             0|               J 32| 46A-Double Parkin...|                             null|             null|                    null|    null|     null|           null|              null|        null|null|null|null|
|    7445908067| GWE1987|                NY|       PAS|04/13/2015|            19|             4DSD|       LEXUS|             T|       59990|       16540|       16790|   01/01/20170111 12...|               102|               102|            102|     355669|          T402|           D|         0318P|               null|               Q|                                F|      120-20|Queens Blvd|               null|01/05/0001 12:00:...|        408|          c3|                null|                     YYYYY|               0300P|             1000P|           GY|                 null|        2015|        null|             0|               01 4| 19-No Stand (bus ...|                             null|             null|                    null|    null|     null|           null|              null|        null|null|null|null|
|    7037692864|T671196C|                NY|       PAS|05/19/2015|            19|             4DSD|       CHRYS|             T|       36090|       10410|       24690|   01/01/88888888 12...|                28|                28|             28|     341248|          T103|           X|         0410P|               null|              NY|                                F|          66| W 116th St|               null|01/05/0001 12:00:...|        408|          c3|                null|                   YYYYYYY|                null|              null|        BLACK|                 null|           0|        null|             0|               19 7| 19-No Stand (bus ...|                             null|             null|                    null|    null|     null|           null|              null|        null|null|null|null|
+--------------+--------+------------------+----------+----------+--------------+-----------------+------------+--------------+------------+------------+------------+-----------------------+------------------+------------------+---------------+-----------+--------------+------------+--------------+-------------------+----------------+---------------------------------+------------+-----------+-------------------+--------------------+-----------+------------+--------------------+--------------------------+--------------------+------------------+-------------+---------------------+------------+------------+--------------+-------------------+---------------------+---------------------------------+-----------------+------------------------+--------+---------+---------------+------------------+------------+----+----+----+
only showing top 5 rows

In [6]:
%%time

df_mp = pd.read_csv("Parking_2015.csv", chunksize=1000)
total_length = 0
for chunk in df_mp:
    total_length += len(chunk)
print(total_length)

11809233
Wall time: 4min 2s

In [7]:
df_csv = csv.DictReader(open("Parking_2015.csv"))
i=0
for row in df_csv:
        print(row)
        i += 1
        if i == 5:
            break

{'Summons Number': '8002531292', 'Plate ID': 'EPC5238', 'Registration State': 'NY', 'Plate Type': 'PAS', 'Issue Date': '10/01/2014', 'Violation Code': '21', 'Vehicle Body Type': 'SUBN', 'Vehicle Make': 'CHEVR', 'Issuing Agency': 'T', 'Street Code1': '20390', 'Street Code2': '29890', 'Street Code3': '31490', 'Vehicle Expiration Date': '01/01/20150111 12:00:00 PM', 'Violation Location': '0007', 'Violation Precinct': '7', 'Issuer Precinct': '7', 'Issuer Code': '345454', 'Issuer Command': 'T800', 'Issuer Squad': 'A2', 'Violation Time': '0011A', 'Time First Observed': '', 'Violation County': 'NY', 'Violation In Front Of Or Opposite': 'F', 'House Number': '133', 'Street Name': 'Essex St', 'Intersecting Street': '', 'Date First Observed': '01/05/0001 12:00:00 PM', 'Law Section': '408', 'Sub Division': 'd1', 'Violation Legal Code': '', 'Days Parking In Effect    ': 'Y Y Y', 'From Hours In Effect': '1200A', 'To Hours In Effect': '0300A', 'Vehicle Color': 'BL', 'Unregistered Vehicle?': '', 'Vehicle Year': '2005', 'Meter Number': '', 'Feet From Curb': '0', 'Violation Post Code': 'A 77', 'Violation Description': '21-No Parking (street clean)', 'No Standing or Stopping Violation': '', 'Hydrant Violation': '', 'Double Parking Violation': '', 'Latitude': '', 'Longitude': '', 'Community Board': '', 'Community Council ': '', 'Census Tract': '', 'BIN': '', 'BBL': '', 'NTA': ''}
{'Summons Number': '8015318440', 'Plate ID': '5298MD', 'Registration State': 'NY', 'Plate Type': 'COM', 'Issue Date': '03/06/2015', 'Violation Code': '14', 'Vehicle Body Type': 'VAN', 'Vehicle Make': 'FRUEH', 'Issuing Agency': 'T', 'Street Code1': '27790', 'Street Code2': '19550', 'Street Code3': '19570', 'Vehicle Expiration Date': '01/01/88888888 12:00:00 PM', 'Violation Location': '0025', 'Violation Precinct': '25', 'Issuer Precinct': '25', 'Issuer Code': '333386', 'Issuer Command': 'T103', 'Issuer Squad': 'B', 'Violation Time': '0942A', 'Time First Observed': '', 'Violation County': 'NY', 'Violation In Front Of Or Opposite': 'F', 'House Number': '1916', 'Street Name': 'Park Ave', 'Intersecting Street': '', 'Date First Observed': '01/05/0001 12:00:00 PM', 'Law Section': '408', 'Sub Division': 'c', 'Violation Legal Code': '', 'Days Parking In Effect    ': 'YYYYY', 'From Hours In Effect': '0700A', 'To Hours In Effect': '1000A', 'Vehicle Color': 'BROWN', 'Unregistered Vehicle?': '', 'Vehicle Year': '0', 'Meter Number': '', 'Feet From Curb': '0', 'Violation Post Code': 'CC3', 'Violation Description': '14-No Standing', 'No Standing or Stopping Violation': '', 'Hydrant Violation': '', 'Double Parking Violation': '', 'Latitude': '', 'Longitude': '', 'Community Board': '', 'Community Council ': '', 'Census Tract': '', 'BIN': '', 'BBL': '', 'NTA': ''}
{'Summons Number': '7611181981', 'Plate ID': 'FYW2775', 'Registration State': 'NY', 'Plate Type': 'PAS', 'Issue Date': '07/28/2014', 'Violation Code': '46', 'Vehicle Body Type': 'SUBN', 'Vehicle Make': 'SUBAR', 'Issuing Agency': 'T', 'Street Code1': '8130', 'Street Code2': '5430', 'Street Code3': '5580', 'Vehicle Expiration Date': '01/01/20160524 12:00:00 PM', 'Violation Location': '0072', 'Violation Precinct': '72', 'Issuer Precinct': '72', 'Issuer Code': '331845', 'Issuer Command': 'T302', 'Issuer Squad': 'L', 'Violation Time': '1020A', 'Time First Observed': '', 'Violation County': 'K', 'Violation In Front Of Or Opposite': 'F', 'House Number': '184', 'Street Name': '31st St', 'Intersecting Street': '', 'Date First Observed': '01/05/0001 12:00:00 PM', 'Law Section': '408', 'Sub Division': 'f1', 'Violation Legal Code': '', 'Days Parking In Effect    ': '', 'From Hours In Effect': '', 'To Hours In Effect': '', 'Vehicle Color': 'BLACK', 'Unregistered Vehicle?': '', 'Vehicle Year': '2010', 'Meter Number': '', 'Feet From Curb': '0', 'Violation Post Code': 'J 32', 'Violation Description': '46A-Double Parking (Non-COM)', 'No Standing or Stopping Violation': '', 'Hydrant Violation': '', 'Double Parking Violation': '', 'Latitude': '', 'Longitude': '', 'Community Board': '', 'Community Council ': '', 'Census Tract': '', 'BIN': '', 'BBL': '', 'NTA': ''}
{'Summons Number': '7445908067', 'Plate ID': 'GWE1987', 'Registration State': 'NY', 'Plate Type': 'PAS', 'Issue Date': '04/13/2015', 'Violation Code': '19', 'Vehicle Body Type': '4DSD', 'Vehicle Make': 'LEXUS', 'Issuing Agency': 'T', 'Street Code1': '59990', 'Street Code2': '16540', 'Street Code3': '16790', 'Vehicle Expiration Date': '01/01/20170111 12:00:00 PM', 'Violation Location': '102', 'Violation Precinct': '102', 'Issuer Precinct': '102', 'Issuer Code': '355669', 'Issuer Command': 'T402', 'Issuer Squad': 'D', 'Violation Time': '0318P', 'Time First Observed': '', 'Violation County': 'Q', 'Violation In Front Of Or Opposite': 'F', 'House Number': '120-20', 'Street Name': 'Queens Blvd', 'Intersecting Street': '', 'Date First Observed': '01/05/0001 12:00:00 PM', 'Law Section': '408', 'Sub Division': 'c3', 'Violation Legal Code': '', 'Days Parking In Effect    ': 'YYYYY', 'From Hours In Effect': '0300P', 'To Hours In Effect': '1000P', 'Vehicle Color': 'GY', 'Unregistered Vehicle?': '', 'Vehicle Year': '2015', 'Meter Number': '', 'Feet From Curb': '0', 'Violation Post Code': '01 4', 'Violation Description': '19-No Stand (bus stop)', 'No Standing or Stopping Violation': '', 'Hydrant Violation': '', 'Double Parking Violation': '', 'Latitude': '', 'Longitude': '', 'Community Board': '', 'Community Council ': '', 'Census Tract': '', 'BIN': '', 'BBL': '', 'NTA': ''}
{'Summons Number': '7037692864', 'Plate ID': 'T671196C', 'Registration State': 'NY', 'Plate Type': 'PAS', 'Issue Date': '05/19/2015', 'Violation Code': '19', 'Vehicle Body Type': '4DSD', 'Vehicle Make': 'CHRYS', 'Issuing Agency': 'T', 'Street Code1': '36090', 'Street Code2': '10410', 'Street Code3': '24690', 'Vehicle Expiration Date': '01/01/88888888 12:00:00 PM', 'Violation Location': '0028', 'Violation Precinct': '28', 'Issuer Precinct': '28', 'Issuer Code': '341248', 'Issuer Command': 'T103', 'Issuer Squad': 'X', 'Violation Time': '0410P', 'Time First Observed': '', 'Violation County': 'NY', 'Violation In Front Of Or Opposite': 'F', 'House Number': '66', 'Street Name': 'W 116th St', 'Intersecting Street': '', 'Date First Observed': '01/05/0001 12:00:00 PM', 'Law Section': '408', 'Sub Division': 'c3', 'Violation Legal Code': '', 'Days Parking In Effect    ': 'YYYYYYY', 'From Hours In Effect': '', 'To Hours In Effect': '', 'Vehicle Color': 'BLACK', 'Unregistered Vehicle?': '', 'Vehicle Year': '0', 'Meter Number': '', 'Feet From Curb': '0', 'Violation Post Code': '19 7', 'Violation Description': '19-No Stand (bus stop)', 'No Standing or Stopping Violation': '', 'Hydrant Violation': '', 'Double Parking Violation': '', 'Latitude': '', 'Longitude': '', 'Community Board': '', 'Community Council ': '', 'Census Tract': '', 'BIN': '', 'BBL': '', 'NTA': ''}

In [8]:
df_dt = dt.fread("Parking_2015.csv")
df_dt.head()

## Conclusion

<p style="font-size:18px;">
    Based on the executed times, "dask" is the best in this scanrio.
</p>

# Use YAML File

In [79]:
with open("config.yaml", "r") as ymlfile:
    cfg = Box(yaml.safe_load(ymlfile))

In [48]:
def read_data_summary(config):
    data = cfg.input.name+'.'+cfg.input.format
    df_dask = dd.read_csv(data, delimiter=cfg.input.delimiter, dtype=cfg.input.dtypes)
    
    print(f'The size of the file is: {os.stat(data).st_size} Bytes')
    print(f'It has: {len(df_dask.columns)} Columns and {len(df_dask)} Rows')
    return df_dask

In [49]:
df = read_data_summary(cfg)

The size of the file is: 2864071408 Bytes
It has: 51 Columns and 11809233 Rows

In [84]:
def validate_data(raw_df):
    trusted_columns = list(map(lambda x: x.lower(),  cfg.input.columns))
    raw_columns = list(map(lambda x: x.lower(),  raw_df.columns))
    
    trusted_columns = [x.strip(' ') for x in trusted_columns]
    raw_columns = [x.strip(' ') for x in raw_columns]
    
    while(True):
        if len(raw_columns)!=len(trusted_columns):
            print(f'Count of columns are invalid! It should be {len(trusted_columns)}, but it is {len(raw_columns)}')
            return
        if raw_columns.sort()!=trusted_columns.sort():
            print('Columns are invalid!')
            return
        if raw_columns.sort()!=trusted_columns.sort():
            print(f'Columns are invalid!')
            print(f'Columns in Uploaded Dataset: {list(set(raw_columns).difference(trusted_columns))} VS. Columns in Config File: {list(set(trusted_columns).difference(raw_columns))}')
            return
    
    
        output_file = cfg.output.name+"."+cfg.output.format
        output_path = cfg.output.path+output_file
        df.to_csv(output_path, header=None, index=None, sep=cfg.output.delimiter, compression='infer')
        print(f'File is uploaded successfully and written to: {output_file}')
        return

In [85]:
validate_data(df)

File is uploaded successfully and written to: trusted_Parking_2015.gz